<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<title>Insert title here</title>
</head>
<body>
<h1>Purchases</h1>
<center>
	
	<h4>User Name: <text th:text="${myPurchases?.userName}" /> </h4>
	<h4>Address: <text th:text="${myPurchases?.address}" /> </h4>
	<h4>Payment Method: <text th:text="${myPurchases?.paymentMethod}" /> </h4>
	 
	<ul>
    <th:block th:object="${myPurchases}" th:each="item : ${myPurchases?.purchasedBooks}">
   <h3>---------------------------------------</h3>
   <h5>ID:<text th:text="${item?.id}" /> </h5>
    <h5>Author:<text th:text="${item?.author}" /> </h5>
    <h5>Title:<text th:text="${item?.title}" /> </h5>
    <h5>Topic:<text th:text="${item?.topic}" /> </h5>
     <h5>Universal Book Code:<text th:text="${item?.number}" /> </h5>
      <h5>Amount Left in Store:<text th:text="${item?.amount}" /> </h5>
  <!--  <a style="color:blue" th:href="@{/removebook/{title}(title=${item?.title})}">Remove Book From Cart</a> -->
    </th:block>
    </ul>
 	<!-- <h3>Total Price: $<text th:text="${totalPrice}"/> </h3> -->
 	
 	   <br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
 	
<!-- 	   <a style="color:blue" th:href="@{/purchaseBooks}">Purchase Books</a> -->
	   <br />  
 	      <br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
 	
	   <a style="color:blue" th:href="@{/welcome}">HomeScreen!</a>
	   <br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
 	
<!-- 	   <a style="color:blue" th:if="${myteam != null}" th:href="@{/leaveteam/{id}(id=${myteam?.id})}">Leave Team?!</a>
 -->
</center>	

</body>
</html>