<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
<body>
<!--     <a style="color:blue" th:href="@{/reviewBook/{id}(id=${item?.title})}">Review Book</a> 
 -->
<h3>Book Title:<text th:text="${book.title}" id="id"/> </h3>
<h3>Book Author:<text th:text="${book.author}" id="id"/> </h3>

 <form action="#" th:action="@{/reviewABook/{title}(title=${book.title})}" th:object="${rating}" method="post">
		
		
		<table>
		<tr>
		<td>Rating:</td>
				<td><input type="number" th:field="*{rating}" /></td>
			</tr>
			<tr>
				<td>Review:</td>
				<td><input type="text" th:field="*{commentContent}" /></td>
			</tr>
			<tr>
				<td></td><td><button type="submit">Submit</button></td>
			</tr>
	
		</table>
	</form> 
</body>
</html>